<div class="product-box">
  <div class="row justify-content-center">
    <%= image_tag(@product.image_url, class: "img-fluid product-image-show") %>
  </div>

  <div class="product-info">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Average Rating:</strong><div class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <!--<p>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>--><!--hide image url-->

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
  </div><!--end product info-->
</div><!--end product box-->

<div class="comments-section">
  <div class="top-comments row justify-content-center">
    <%= @product.highest_rating_comment %>
    <%= @product.lowest_rating_comment %>
  </div><!--end top comments-->

  <div class="new-comment">
    <%= render 'new_comment' %>
  </div><!--end new comment-->

  <div class="comments">
    <%= render 'comments' %>
    <%= will_paginate @comments %>
  </div><!--end comments-->
</div><!--end comments section-->


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
