<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top" role="navigation">
      <a class="navbar-brand" href="<%= simple_pages_landing_page_path %>">Bike Berlin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><%= link_to "Home", simple_pages_landing_page_path %></li>
          <li class="nav-item"><%= link_to "Products", products_path %></li>
          <li class="nav-item"><%= link_to "Orders", orders_path %></li>
          <li class="nav-item"><%= link_to "About", simple_pages_about_path %></li>
          <li class="nav-item"><%= link_to "Contact", simple_pages_contact_path %></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path, class: "nav-link") %>
          </li>
          <% end %>
        </ul>
        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
          <%= form.text_field :q, id: 'q', value: params[:q], onfocus: "if (this.value=='Search') this.value = ''", onblur: "if (this.value=='') this.value = 'Search'", placeholder: "Search" %>
          <%= form.submit 'Find' %>
        <% end %>
      </div>
    </nav>

  <% if notice %>
    <p class="alert alert-success" role="alert"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p><!--Sign in Notice-->
  <% end %>

    <div class="content">
      <%= yield %>
    </div>

    <footer class="d-flex align-items-center justify-content-center">
      <div>
        <span>&copy; 2018 Bike Berlin</span>
      </div>
    </footer>
  </body>
</html>
